.trHead {
  & > td:first-child,
  & > td:nth-child(2) {
    width: 275px;
  }

  & > td:nth-child(3) {
    width: 150px;
  }

  & > td:nth-child(4),
  & > td:nth-child(5) {
    width: 200px;
  }

  & > td:last-child {
    width: 175px;
  }
}

.trRating {
  * {
    padding: 0.25em 0 !important;
  }

  td {
    width: 50px;
  }
}
