#form-opcr > table {
  width: 100%;

  * {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  }

  button {
    font-family: poppins;
    // font-size: 0.7rem;
  }

  td,
  th {
    border: 1px solid black;
    padding: 0.25rem;
  }
}
